<h1>Listing of Wonderful Links to the World</h1>

<table>
  <tr>
    <th>Tell me a story by sending me to a new place!</h3>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @linkages.each do |linkage| %>
  <tr>
    <td><%= linkage.link %></td>
    <td><%= linkage.description %></td>
    <td><%= link_to 'Show', linkage %></td>
    <td><%= link_to 'Edit', edit_linkage_path(linkage) %></td>
    <td><%= link_to 'Destroy', linkage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Linkage', new_linkage_path %>
